FLASK_APP=run.py # Flask entry point - not needed in production
FLASK_DEBUG=0 # Flask debug level - 0 for no debug - 1 for debug - not needed for production
LOG_LEVEL=INFO # Log level
MODE="development" # Valid values are production or development
SECRET_KEY="CHANGEME" # Self generated secret key
MOUNT_BASE=/mnt/data # Mount Directory
OAUTH_SCOPE="openid email profile" # OAuth Scope
OAUTH_CLIENT_ID="navigator" # Generated OAuth Client ID
OAUTH_CLIENT_SECRET="1234CLIENT5678SECRET" # Generated OAuth Client Secret
OAUTH_METADATA_URL="http://localhost:8080/realms/navigator/.well-known/openid-configuration" # OAuth Metadata URL
OAUTH_LOGOUT_URL="http://localhost:8080/logout" # OAuth Logout URL
