export FLASK_SECRET_KEY="CHANGEME" # <-- Self generated secret key
export EFS_VIEWER_MODE="development" # <-- Valid values are production or development
export MODE="development" # <-- Valid values are production or development
export OAUTH_CLIENT_ID="efs-navigator" # <-- Generated OAuth Client ID
export OAUTH_CLIENT_SECRET="HtaGxicgV1IihIVf90HHoqXJhtqLC5" # <-- Generated OAuth Client Secret
export OAUTH_SCOPE="openid email profile" # <-- OAuth Scope
export OAUTH_METADATA_URL="http://localhost:8080/realms/efs-viewer/.well-known/openid-configuration" # <-- OAuth Metadata URL
export OAUTH_LOGOUT_URL="http://localhost:8080/realms/efs-viewer/protocol/openid-connect/logout" # <-- OAuth Logout URL
